<h2 class="m-4">Transactions</h2>
<button type="button" class="btn btn-warning" (click)="setShowFilters()">Filters</button>
<div class="container" *ngIf="showFilters">
  <div class="card-body mt-3 mb-3">
    <form novalidate [formGroup]="filtersForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="fromId">Date from</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="fromId"
                 type="date"
                 placeholder=""
                 formControlName="from">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="toId">Date to</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="toId"
                 type="date"
                 placeholder=""
                 formControlName="to">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="from-account-id">From account</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="from-account-id"
                 type="number"
                 placeholder=""
                 formControlName="from_account_id" min="1">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="to-account-id">To account</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="to-account-id"
                 type="number"
                 placeholder=""
                 formControlName="to_account_id" min="1">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="pageId">Page</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="pageId"
                 type="number"
                 placeholder=""
                 formControlName="page" min="1">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="pageSizeId">Page Size</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="pageSizeId"
                 type="number"
                 placeholder=""
                 formControlName="page_size" min="1">
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="sortById">SortBy</label>
        <div class="col-md-8">
          <select class="form-select" aria-label="Default select example" formControlName="sort_by">
            <option *ngFor="let column of columnsToDisplay" [value]="column">{{column}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="sortById">SortOrder</label>
        <div class="col-md-8">
          <select class="form-select" aria-label="Default select example" formControlName="order_by" >
            <option value="asc" selected>ASC</option>
            <option value="desc">DESC</option>
          </select>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="applyFilters()">Apply</button>
    </form>
  </div>
</div>

<div class="content">
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="from_account_id">
      <th mat-header-cell *matHeaderCellDef> From account </th>
      <td mat-cell *matCellDef="let element"> {{element.from_account_id}} </td>
    </ng-container>

    <ng-container matColumnDef="to_account_id">
      <th mat-header-cell *matHeaderCellDef> To account </th>
      <td mat-cell *matCellDef="let element"> {{element.to_account_id}} </td>
    </ng-container>

    <ng-container matColumnDef="currency_name">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency_name}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>